{% extends "base.html" %}
{% load static %}
{% load be_half %}

{% block customcss %}
  <link rel='stylesheet' type="text/css" href="{% static 'css/main.css' %}">
{% endblock customcss %}

{% block header %}
<table>
  <tr>
    <td>
      <div class="check">
        <input type="checkbox" id="show-legend" value="legend"><span>legends</span>
      </div>
    </td>
    <td>
      <form action="{% url 'main' %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="check">
          {% for site in sites %}
            {% if site in site_names %}
              <input type="checkbox" id="box_{{site}}" value="{{site}}" name='site_settings' checked><span>{{site}}</span>
            {% else %}
              <input type="checkbox" id="box_{{site}}" value="{{site}}" name='site_settings'><span>{{site}}</span>
            {% endif %}
          {% endfor %}
        </div>
        <div class="check">
          {% for p_TNM in p_TNMs %}
            {% if p_TNM in p_TNM_names %}
              <input type="checkbox" id="box_{{p_TNM}}" value="{{p_TNM}}" name='p_TNM_settings' checked><span>{{p_TNM}}</span>
            {% else %}
              <input type="checkbox" id="box_{{p_TNM}}" value="{{p_TNM}}" name='p_TNM_settings'><span>{{p_TNM}}</span>
            {% endif %}
          {% endfor %}
        </div>
        <p><button type="submit" class="btn btn-light">create</button></p>
      </form>
    </td>
    <td>
      <a href="{% url 'main' %}"><button class="btn btn-light" id="btn-reload">page reload</button></a>
    </td>
    <td>
      <a href="{% url 'upload' %}"><button class="btn btn-light" id="btn-upload">data upload</button></a>
    </td>
</tr>
</table>
{% endblock header %}

{% block content %}
<div class="box">
  <div id="cy"></div>
</div>
{% endblock content %}


{% block customjs %}
<script src="http://cdn.bootcss.com/cytoscape/3.14.2/cytoscape.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    var elements = {
      nodes:[
        {% for sharp in count_list %}
          {data: {id: '{{ sharp.0 }}', size: '{{ sharp.1 }}'}},
        {% endfor %}
      ],
      edges:[
        {% for node in node_list %}
          {data: {source: '{{ node.0 }}', target: '{{ node.1 }}', relationship: '{{ node.2 }}', width: '{{ node.2 | be_half }}' }},
        {% endfor %}
      ],
    };
    
    var layout = {
      name: 'random',
    }

    var style = [
      { 
        selector: 'node', 
        css: {
          'background-color': 'rgb(48, 48, 48)',  //node color
          'opacity': '0.9',
          'color': '#fff',             //text color
          'text-outline-color': 'rgb(48, 48, 48)',
          'text-outline-width': '3px',
          'content': 'data(id)',
          'width': 'data(size)',
          'height': 'data(size)',
          'font-size': '20px',
          'text-halign': 'center',
        }
      },
      {
        selector: 'edge',
        css: {
          'line-color': 'rgb(58, 225, 255)',
          'width': 'data(width)',
          'opacity': '0.5',
          'curve-style': 'straight',
          'label': 'data(relationship)',
          'color': '#fff',             //text color
          'text-outline-color': 'rgb(48, 48, 48)',
          'text-outline-width': '3px',
          'font-size': '0',
          'text-opacity': '0.8',
        }
      }
    ]
  
    var cy = window.cy = cytoscape({ 
      container: $("#cy").get(0),
      elements: elements,
      style: style,
      layout: layout,
    });

    cy.ready( function(){
      cy.layout({
        name: 'circle',
        animate: 'end',
        animationDuration: 2500,
        animationEasing: 'spring(500, 40)',
      }).run();
    } );

    cy.on('tap', 'node', function(evt) {
      var tgt = evt.target;
      var edge = evt.target.connectedEdges();

      cy.nodes().style({
        'background-color': 'rgb(48, 48, 48)',
        'opacity': '0.9',
        });
      cy.edges().style({
        'line-color': 'rgb(58, 225, 255)',
        'z-index': '0',
        'color': '#fff',
        'text-opacity': '0.5',  
      });

      tgt.style({
        'opacity': '1',
      });
      edge.style({
        'line-color': 'rgb(255, 126, 51)',
        'z-index': '999',
        'color': 'rgb(255, 126, 51)',
        'text-opacity': '1',
      });

      cy.layout({
        name: 'concentric',
        animate: 'end',
        animationDuration: 2500,
        animationEasing: 'spring(500, 40)',
        spacingFactor: 1.5,
        concentric: function( node ){
          var degree = node.degree();
          degree = 0;
          if (node == tgt) {
            degree += 10;
          };
          return degree;
        },
      }).run();
    });
    
    //legends
    $('#show-legend').change(function() {
      if ($(this).is(':checked')) {
        cy.edges().style({
          'font-size': '20px',
          });
      } else {
        cy.edges().style({
          'font-size': '0',
          });
      };
    });
  });


</script>
{% endblock customjs %}